@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply bg-white rounded-lg shadow-lg;
    margin: 10px;
    padding: 10px;
    text-align: right;
}

.title {
    @apply text-2xl font-bold;
    text-align: center;
}
